@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

:root {
  --color1: #8f4d07;
  --color2: #f5edd9;
  --color3: #e2821a;
  --color4: #409a8c;
  --color5: #305953;
  --color6: #f8ecce;
  --color7: #faf5ea;

  font-family: 'Nunito Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color4);
}

#grid {
	width: 100vw;
	height: 100vh;
	background-color: var(--color4);
	display: grid;
	grid-template-rows: 10vh 78vh 8vh;
	grid-template-columns: 1fr 5fr;
	gap: 1vh;
	padding: 1vh;
	text-align: center;
  	color: var(--color5);
}

h1 {
	font-size: clamp(20px, 5.5vmin, 55px);
}

h2 {
	font-size: clamp(18px, 2.9vmin, 45px);
}

h3 {
	font-size: clamp(13px, 2.5vmin, 25px);
}

h4 {
	color: var(--color3);
	font-size: clamp(13px, 2vmin, 20px);
}

h5 {
	font-size: clamp(10px, 1.7vmin, 18px);
}

p {
	font-size: clamp(13px, 2vmin, 20px);
}

#header {
  grid-area: 1 / 2 / 2 / 3;
}

#sidebar {
  grid-area: 1 / 1 / 4 / 2;
	display: flex;
	flex-direction: column;
	gap: 4vh;
}

#sidebar ul {
	display: flex;
	flex-direction: column;
	gap: 3vh;
}

#main {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 2vmin;
}

#footer {
  grid-area: 3 / 2 / 4 / 3;
}

#header, #footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  background-color: var(--color2);
  border-radius: 1vmin;
  padding: 2vmin;
}

.project {
	background-color: var(--color6);
	border-radius: 1.1vmin;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 1vmin;
}

.imgClass {
	width: 20vmin;
	height: auto;
	border-radius: 3vmin;
	border: 4px double var(--color5);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
	font-size: clamp(13px, 2.5vmin, 25px);
	color: var(--color4);
}

li:hover, a:hover {
	color: var(--color3);
	transform: scale(1.2);
}

#main a {
	font-size: clamp(13px, 2.5vmin, 25px);
	color: var(--color1);
}

#main a:visited {
	color: var(--color3);
}

#main a:hover {
	color: var(--color4);
}

#current {
	color: var(--color3);
}

#mainPages {
	grid-area: 2 / 2 / 3 / 3;
	background-color: var(--color6);
	height: 100%;
	border-radius: 1.1vmin;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	padding: 2vmin;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 2vh;
}

form, #decodedContainer {
	border: 4px double var(--color3);
	border-radius: 1vmin;
	padding: 1vmin;
	box-shadow: rgba(245, 175, 63, 0.35) 0px 0px 13px;
}

form {
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-size: clamp(13px, 2.5vmin, 25px);
	gap: 1vh;
}

#encodedFieldset {
	display: flex;
	flex-direction: column;
	gap: 1vh;
	justify-content: center;
	align-items: center;
}

#radioFieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#radioFieldset .radioContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1vw;
	padding-right: 6vw;
}

#english, #spanish, #valencian {
	justify-self: right;
	width: 2vmin;
}

.radioContainer label {
	justify-self: left;
}

fieldset {
	border: none;
}

input {
	width: 90%;
	padding: 4px;
	text-align: center;
	color: var(--color1);
	font-size: clamp(12px, 2.3vmin, 21px);
	border: 1px solid rgb(201, 107, 7);
	border-radius: 5px;
	background-color: var(--color7);
}

button {
	padding: 1vmin;
	background-color: var(--color3);
	color: var(--color2);
	font-size: clamp(11px, 2vmin, 23px);
	border-radius: 1vmin;
	border: 1px solid rgb(201, 107, 7);
	box-shadow: #c3670566 0px 2px 4px, #c3670566 0px 7px 13px -3px, #c3670566 0px -3px 0px inset;
}

#decodedContainer {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 1vh;
	overflow: auto;
}

#results {
	border: 1px solid var(--color1);
	background-color: var(--color7);
	border-radius: 1vmin;
	overflow: auto;
	text-align: left;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1vw;
	scrollbar-gutter: stable both-edges;
}

::-webkit-scrollbar {
	width: 20px;
	height: 20px;
	background-color: var(--color6);
	border-radius: 1vmin;
	border: 6px solid transparent;
	background-clip: content-box;

  }

  ::-webkit-scrollbar-track {
	background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
	background-color: var(--color4);
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: var(--color3);
  }

  ::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
  }

